---
---
<footer>
    <div>
        Made by <a href="https://santos-alarcon.vercel.app" target="_blank"><b>Santos Alarcón</b></a> with 💗 for <b>anime</b> and with <a
        href="https://astro.build"
        target="_blank"><img src="/favicon.svg"/></a>.
    </div>
</footer>

<style>
    footer {
        border-top: 1px #666 solid;
        padding: 1em 0;
        display: flex;
        justify-content: center;
        color: white;

        & div {
            align-items: center;
        }

        & img {
            width: 16px;
        }
    }
</style>
