---
import AnimeItem from "../../../components/AnimeItem.astro";

// Fetch the trending anime data if there is not any data on the lcoal
// storage.
const response = await fetch("https://api.jikan.moe/v4/seasons/now");
const jsonData = await response.json();
const airing_animes = jsonData.data;
---

<div id="lista-animes">
    {airing_animes.map((anime) => <AnimeItem anime={anime} />)}
</div>

<style>
    #lista-animes {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 5em;
        padding: 10rem 3rem 3rem 3rem;
        width: 1200px;
        max-width: calc(100% - 2rem);
        margin: auto;
    }

    @media (width < 720px) {
        #lista-animes {
            width: inherit;
            max-width: inherit;
            grid-template-columns: repeat(2, 1fr);
            gap: 2em;
        }
    }
</style>
